main {
    max-width: 840px;
}

aside {
    width: 100%;
    margin: 0;
    border: 0.001rem solid rgba(0, 0, 0, 0.42);
    padding: 0;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}



aside img {
    width: 150px;
    height: auto;
}


main img {
    width: 150px;
    height: auto;
    float: left;
    clip-path: circle(63.99% at center);
    shape-outside: circle(63.99% at center);
}


p {
    padding: 0;
}

footer {
    margin-top: 0px;
    border-top: 0px solid #00000088;
    text-align: center;
}

nav { 
    background-color: rgba(95, 67, 31, 0.584);
    padding: 50px;
}

nav a { 
    color: rgb(11, 25, 179);
    display: block;
} 

h1 {
    color: rgba(2, 87, 7, 0.751);
}

img {
    width: auto;
    height: auto;
    border: 0px solid black;
    padding: 0px;
    box-shadow: 0 0 5px gray;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2px; /* Space between images */
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1px; /* Optional: adds rounded corners */
}