@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


main {
    max-width: 840px;
}

aside {
    width: 100%;
    margin: 0;
    border: 0.001rem solid rgba(0, 0, 0, 0.42);
    padding: 0;
    background-color: #eee;
    color: #333;
    text-align: center;
}


<!-- Just an image -->
<figure>
  <img src="favicon-192x192.png" alt="The beautiful MDN logo." />
</figure>

<!-- Image with a caption -->
<figure>
  <img src="favicon-192x192.png" alt="The beautiful MDN logo." />
  <figcaption>MDN Logo</figcaption>
</figure>



table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  


figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  
  img {
    max-width: 220px;
    max-height: 150px;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  





header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

body {
	font-family: Acme, Arial, sans-serfi;
}

article {
	margin: 1em auto;
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 1em;
	background-color: #ace;
	width: min(600px, 100%);
	font-size: 1.2rem;
}



aside img {
    width: 200px;
    height: auto;
}

.hero img {
    width: 99.5%;
    height: auto;
    display: block;
}

.lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }

  aside img {
    width: 120px;
    height: auto;
}


main img {
    width: 120px;
    height: auto;
}


p {
    padding: 0;
}

footer {
    margin-top: 0px;
    border-top: 0px solid #00000088;
    text-align: center;
}

nav { 
    background-color: rgba(95, 67, 31, 0.584);
    padding: 1px;
}

nav a { 
    color: rgb(11, 25, 179);
    display: block;
} 

h1 {
    color: rgba(2, 87, 7, 0.751);
}

img {
    width: auto;
    height: auto;
    border: 0px solid black;
    padding: 0px;
    box-shadow: 0 0 5px gray;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1px; /* Space between images */
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2px; /* Optional: adds rounded corners */
}