main {
    max-width: 840px;
}

aside {
    width: 200%;
    margin: 0;
    border: 0rem solid rgba(0, 0, 0, 0.42);
    padding: 0;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 100px;
    height: auto;
}

.hero img {
    width: 200%;
    height: auto;
    display: block;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 200px;
    height: auto;
    float: right;
    clip-path: circle(40% at center);
    shape-outside: circle(45% at center);
}

p {
    padding: 1;
}

footer {
    margin-top: 1px;
    border-top: 1px solid #00000088;
    text-align: center;
}

nav { 
    background-color: rgb(0, 139, 53);
    padding: 1px;
}

nav a { 
    color: rgb(150, 180, 160);
    display: block;
} 

h1 {
    color: rgb(207, 205, 179);
}

img {
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 1px;
    box-shadow: 0 0 10px gray;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1px; /* Space between images */
}

.gallery img {
    width: 200%;
    height: auto;
    object-fit: cover;
    border-radius: 200px; /* Optional: adds rounded corners */
}